<footer>
  <div class="footer-bottom">
    &copy; {{site.currentYear}} {{site.author}}. All rights reserved. Built with ❤️ and modern web technologies
    <a
      href="https://sketchfab.com/3d-models/hammerhead-space-fighter-19daeb543508430c8807edbcf27a9741"
      target="_blank"
      rel="noopener"
    >
      This work is based on "Hammerhead Space Fighter" by Pedro B. Goulart,
      licensed under CC-BY-4.0
    </a>
  </div>
</footer>